.left-align li {
    display: flex;
    align-items: center;
}
        
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-text {
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
}

@media (max-width: 480px) {
    #logo-text {
        display: none;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: .1em;
    }
}

@media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
      -webkit-transform: translateX(-105%);
              transform: translateX(-105%);
    }
    .sidenav.sidenav-fixed.right-aligned {
      -webkit-transform: translateX(105%);
              transform: translateX(105%);
    }
    .sidenav > a {
      padding: 0 16px;
    }
    .sidenav .user-view {
      padding: 16px 16px 0;
    }
  }

@media only screen and (max-width: 1100px) {
    .hide-on-med-and-down {
      display: none !important;
    }
    nav a.sidenav-trigger {
        display: block;
      }
  }

@media only screen and (max-width: 1100px) {
    nav .brand-logo {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
    nav .brand-logo.left, nav .brand-logo.right {
      padding: 0;
      -webkit-transform: none;
              transform: none;
    }
    nav .brand-logo.left {
      left: 0.5rem;
    }
    nav .brand-logo.right {
      right: 0.5rem;
      left: auto;
    }
}

nav .sidenav-trigger {
    float: right;
}


.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label {
    color: #005eed !important;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid #005eed !important;
    box-shadow: 0 1px 0 0 #005eed !important;
}
